body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 1rem;
    font-size: 16px;
}

header {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services {
  display: flex;
  flex-direction: column; /* Mobile default */
}

.card {
  padding: 1rem;
  border: 1px solid #ccc;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2 {
    font-style: italic;
    color: darkcyan;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

h4{
    font-style: italic;
    color: white;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid darkcyan;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkcyan;
    color: white;
}

footer {
    background-color: aqua;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {
  .services {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    flex: 1;
    margin: 0 0.5rem;
  }
}
