body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav h2{
   text-align: right;
   font-size: 20px;
}

h3{
   text-align: left;
   font-size: 20px;
}

nav{
    margin: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration:none;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}    

section {
    margin: 20px;
}

.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 200px; /* Vertically centers the text */
}

h1, h2 {
    color: #333;
}

p{
    text-align: center;
}
h4 {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#bio, #work {
    background-color: #e9e9e9;
    padding: 15px;
}

.wins, .losses{
    font-weight: bold;
}

#Reporting {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}